<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_20020003.server.start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>move</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_20020003.server.move</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>state</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_20020003.server.state</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>won</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_20020003.server.won</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>possiblemoves</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_20020003.server.possiblemoves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stats</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_20020003.server.stats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blackjack</servlet-name>
        <jsp-file>/blackjack.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/jack/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>move</servlet-name>
        <url-pattern>/jack/move/hit</url-pattern>
        <url-pattern>/jack/move/stand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>state</servlet-name>
        <url-pattern>/jack/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>won</servlet-name>
        <url-pattern>/jack/won</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>possiblemoves</servlet-name>
        <url-pattern>/jack/possiblemoves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stats</servlet-name>
        <url-pattern>/jack/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blackjack</servlet-name>
        <url-pattern>/jack</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
